<div class="CartBox">
    <div class="CartImgBox">
         <a href="/products/<%=product.id%>"><div class="CartImg"><img src="<%= product.image  %>" alt="" ></div></a>
    </div>
    <div class="ProductName"><strong class="Ptitle"><%= product.title %></strong></div>
    <div class="ProductCartDetails">
        <div class="ProductPrice">&#8369; <%= product.price %>.00</div>
        <div class="ProductRating"><%= product.rating %>  Ratings</div>
    </div>    
    <div class="CartButCon">
            <div class="CartBut">Add to cart</div>
    </div>

</div>		